@model IEnumerable<Ejemplo.Models.Orden>

@{
    ViewData["Title"] = "Index";
}

<h1>Ordenes</h1>
<style>
    body {
        background-color: lightcoral;
    }
</style>
<p>
    <a asp-action="Create">Dar de alta una nueva orden</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>            
            <td>
                    @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                    @{
                        var urlPath = Html.DisplayFor(modelItem => item.Foto);
                    }
                    <img src="@urlPath" alt="Descripción de la imagen">
                    @*@Html.DisplayFor(modelItem => item.Foto)*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
